body {
    margin: 0;
    padding: 0;
    background: #f4f6f9;
    font-family: Arial, sans-serif;
    color: #333;
}
.header {
    width: 100%;
    background: white;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 15px 0;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 45px;
}

.logo-text {
    font-size: 38px;
    font-weight: 900;
    color: #0a6ebd;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 3px 0px rgba(0,0,0,0.1);
}

.navbar a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover {
    color: #0a6ebd;
}

.login-btn {
    background: #0a6ebd;
    color: white !important;
    padding: 8px 18px;
    border-radius: 20px;
}

main {
    width: 85%;
    margin: auto;
    padding: 20px 0 60px;
}




table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

th {
    background: #0066cc;
    color: white;
    padding: 15px;
    font-size: 18px;
}

td {
    padding: 15px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f2f7ff;
}

.table-btn {
    background: #00994d;
    color: white;
    padding: 8px 18px;
    border-radius: 15px;
    text-decoration: none;
}

.benefits {
    text-align: center;
    margin-top: 60px;
}

.benefit-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.benefit img {
    width: 60px;
}

.benefit p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}

.testimonials {
    margin-top: 60px;
    text-align: center;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.test-card {
    width: 30%;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.faq {
    margin-top: 60px;
}

.faq-item {
    background: white;
    padding: 15px 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

