
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3faff;
    color: #333;
}

.header {
    width: 100%;
    background: white;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 15px 0;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
 
    width: 45px;
   
}

.logo-text {
    font-size: 38px;
    font-weight: 900;
    color: #0a6ebd;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 3px 0px rgba(0,0,0,0.1);
}




.navbar a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover {
    color: #0a6ebd;
}

.login-btn {
    background: #0a6ebd;
    color: white !important;
    padding: 8px 18px;
    border-radius: 20px;
}

.hero {
    background: #e8f6fb;
    text-align: center;
    padding: 120px 20px;
    border-bottom: 4px solid #d2eefc;
}

.hero h2 {
    font-size: 45px;
    font-weight: 800;
    color: #0a6ebd;
}

.hero p {
    font-size: 19px;
    max-width: 650px;
    margin: 10px auto;
    color: #333;
}

.cta {
    background: #0a6ebd;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    margin-top: 25px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
}

.cta:hover {
    background: #065a9c;
}



.features {
    padding: 50px 0;
    text-align: center;
}

.feature-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.feature-card {
    width: 180px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 15px;
}

.feature-card img {
    width: 60px;
}

.about {
    background: #e8f5fe;
    padding: 50px 20px;
    text-align: center;
}

.lh-card-container {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding: 20px;
}

.lh-card {
    position: relative;
    min-width: 250px;
    height: 330px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.lh-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lh-title {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    text-shadow: 0 2px 5px black;
}

.testimonials {
    padding: 60px;
    text-align: center;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.test-card {
    width: 280px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.faq {
    padding: 50px 30px;
}

footer {
    background: #0a6ebd;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

